<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>바른 통학생활의 시작 알통이!</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/scrolling-nav.css' %}" rel="stylesheet">

  <style>
    @font-face { font-family: 'BMJUA'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff'); 
    font-weight: normal; 
    font-style: normal; 
    }
    @font-face { font-family: 'BBTreeGR'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/BBTreeGR.woff') format('woff');
    font-weight: normal;
    font-style: normal; }
    
    #div1{
      margin:50px;
    }
</style>
</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">알통이♥</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#services">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item">
            <div class="nav-link js-scroll-trigger"> {{ user.username }}</div>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'logout' %}">Logout</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'login' %}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'signup' %}">Sign up</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

  <header class="bg-primary text-white">
    <div class="container text-center">
      <h1 style="font: size 35px; font-family:'BMJUA';">'알통이'에 오신 것을 환영합니다</h1>
      <p class="lead" style="font: size 12px; font-family:'BMJUA';">모든 통학생들이 시간을 효율적으로 사용하기 위해서 알통이가 함께 할게요!</p>
    </div>
  </header>

  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 style="font: size 35px; font-family: 'BBTreeGR'">알통이란?</h2>
          <p class="lead" style="font: size 35px; font-family: 'BBTreeGR'">학교까지 통학하는 학생들을 위해서 통학하는 시간동안 하루에 일정들을 계획하고 남은 시간을 효율적으로 사용할 수 있도록 시간을 관리하는
            웹 사이트 입니다. 시간 대에 자투리 시간을 다른 사람들은 어떻게 사용하는지 추천도 해주고, 내가 직접 관리도 할 수 있습니다.  
          </p>
          <ul>
            <li style="font: size 35px; font-family: 'BBTreeGR'">이동 중에 간편하게 오늘 일정 관리 가능!</li>
            <li style="font: size 35px; font-family: 'BBTreeGR'">오늘 해야하는 일을 적으면서 자투리 시간 파악 가능!</li>
            <li style="font: size 35px; font-family: 'BBTreeGR'">친구들과 일정 공유함으로써 성취도 상승효과!</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section id="services" class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 style="font: size 35px; font-family: 'BBTreeGR'">알통이 다양한 기능들!</h2>
          <p class="lead"></p>
          <li style="font: size 35px; font-family: 'BBTreeGR'">월별 출석도장</li>
          <li style="font: size 35px; font-family: 'BBTreeGR'">Daily 통학시간(수업/공강/하교시간/여가시간 관리</li>
          <li style="font: size 35px; font-family: 'BBTreeGR'">친구랑 공유기능(제일 알찬 사람 보상→ 좋아요♥ 기능으로 투표)</li>
          <br>
          <br>
          <img src="img/Clock.jpg" width="300" height="300" id="div1" >
          <img src="img/Clock.jpg" width="300" height="300" >
        </div>
      </div>
    </div>
  </section>

  <section class="bg-light" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase" style="font: size 24px; font-family: 'BMJUA'">관리자 소개</h2>
          <br>
          <br>
          <br>
          <h3 class="section-subheading text-muted"></h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="img/Clock.jpg" alt="" width="200" height="200">
            <br>
            <br>
            <h4 style="font: size 35px; font-family: 'BBTreeGR'">선다영</h4>
            <p class="text-muted">CEO</p>
            <p class="text-muted">Email: kkbo5222@gmail.com</p>
            <p class="text-muted">Phone: 010-1234-5678</p>

            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="img/Clock.jpg" alt="" width="200" height="200">
            <br>
            <br>
            <h4 style="font: size 35px; font-family: 'BBTreeGR'">김민수</h4>
            <p class="text-muted">Developer</p>
            <p class="text-muted">Email: </p>
            <p class="text-muted">Phone: 010-1234-5678</p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="img/Clock.jpg" alt="" width="200" height="200" alt="">
            <br>
            <br>
            <h4 style="font: size 35px; font-family: 'BBTreeGR'">최지우</h4>
            <p class="text-muted">Designer</p>
            <p class="text-muted">Email: cjw123abc@naver.com </p>
            <p class="text-muted">Phone: 010-1234-5678</p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="img/Clock.jpg" alt="" width="200" height="200">
          <br>
          <br>
          <h4 style="font: size 35px; font-family: 'BBTreeGR'">김현주</h4>
          <p class="text-muted">Designer</p>
          <p class="text-muted">Email: </p>
            <p class="text-muted">Phone: 010-1234-5678</p>
          <ul class="list-inline social-buttons">
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <p class="large text-muted" >알통이에 대해 궁금한게 있다면 언제든지 연락하세요!</p>
          <p>☎대표번호: 070-1234-5678</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom JavaScript for this theme -->
  <script src="js/scrolling-nav.js"></script>

</body>

</html>
